
<nav class="navbar navbar-expand-lg bg-body-secondary ">
    <ul class="nav nav-pills mr-auto">
    <a class="navbar-brand main-heading" href="{% url '' %}"> 
            
      &nbsp; CRM
    
    </a>
    
  
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
  
    </button>
  
  
      <div class="collapse navbar-collapse text-center " id="navbarNavDropdown">
  
        
       
  
  
          &nbsp;     &nbsp;     &nbsp; 
  
          {% if user.is_authenticated %}
  
            <li class="nav-item ">
        
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard &nbsp; <i class="fa fa-home" aria-hidden="true"></i> </a>
  
            </li>
  
  
            &nbsp;     &nbsp;     &nbsp; 
  
  
            <li class="nav-item btn-group-vertical">
  
              <a class="nav-link" href="{% url 'user_logout' %}">Sign out &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
  
            </li>
  
  
        </ul>
  
        {% else %}
  
        <li class="nav-item">
  
          <a class="nav-link " href="{% url 'register' %}"> Register &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i> </a>
  
        </li>
  
  
        &nbsp;     &nbsp;     &nbsp; 
  
  
        <li class="nav-item">
  
          <a class="nav-link" href="{% url 'my-login' %}">Login &nbsp; <i class="fa fa-sign-in" aria-hidden="true"></i></a>
  
        </li>
  
  
        {% endif %}
      
        
      </div>
  
  
  </nav>



